*
!package.json
!package-lock.json
!tsconfig.base.json
!apps/
apps/*
!apps/sponsor-wallet/
!apps/sponsor-wallet/**
!contracts/
contracts/*
!contracts/sensor-registry/
!contracts/sensor-registry/**
!packages/
packages/*
!packages/shared/
!packages/shared/**
